<bb-wrapper>
  <bb-breadcrumbs [items]="items" />
  <bb-page-title title="Политика конфиденциальности" />

  @let privacyPolicyItems = privacyPolicy();
  <section
    class="mt-10 mb-[90px] tablet:mt-7 desktop:mt-[53px] tablet:mb-[110px] desktop:mb-[226px] max-w-[900px]"
  >
    <h3
      class="text-[22px] tablet:text-[30px] desktop:text-[30px] font-semibold mb-9"
    >
      {{ privacyPolicyItems.title }}
    </h3>
    <p class="leading-relaxed">{{ privacyPolicyItems.content }}</p>
  </section>
</bb-wrapper>
