<bb-wrapper>
  <bb-breadcrumbs [items]="items" />
  <bb-page-title [title]="title" />

  <div class="mt-9 mb-[67px] flex handset:flex-col flex-row gap-[74px]">
    <bb-svg-icon [name]="partData().img" />
    <p class="text-md max-w-[80%]">
      {{ partData().descr }}
    </p>
  </div>

  @let card = partCard();
  <div class="bg-white p-9 mb-9">
    <div
      class="pb-6 border-b-2 border-b-light-grey grid handset:grid-cols-2 grid-cols-4"
    >
      <dl>
        <dt class="font-semibold text-[24px] text-blue">{{ card.emits }}</dt>
        <dd class="text-md">эмитентов</dd>
      </dl>
      <dl>
        <dt class="font-semibold text-[24px] text-orange">{{ card.stocks }}</dt>
        <dd class="text-md">выпусков акций</dd>
      </dl>
      <dl>
        <dt class="font-semibold text-[24px] text-orange">{{ card.bonds }}</dt>
        <dd class="text-md">выпусков облигаций</dd>
      </dl>
      <dl>
        <dt class="font-semibold text-[24px] text-orange">
          {{ card.noExchange }}
        </dt>
        <dd class="text-md">внебиржевых выпусков</dd>
      </dl>
    </div>
    <div class="pt-6 flex items-center gap-4 flex-wrap">
      <span class="font-semibold handset:text-[16px] text-[20px]"
        >Объем привлеченных средств:
      </span>
      <span class="font-semibold handset:text-[23px] text-[32px] text-nowrap">{{
        card.res
      }}</span>
    </div>
  </div>

  <div class="bg-light-grey p-9 mb-9">
    <h3 class="font-semibold text-[24px] mb-6">Контакты</h3>
    <div class="pl-10">
      <div class="mb-8 text-md">
        <p>{{ contacts.address }}</p>
      </div>
      <div class="flex handset:flex-col flex-row gap-10 text-blue text-md">
        <p>{{ contacts.phone }}</p>
        <p>{{ contacts.email }}</p>
        <p>{{ contacts.www }}</p>
      </div>
    </div>
  </div>

  <div class="bg-white mb-[152px] p-9 overflow-x-auto">
    <h3 class="font-semibold text-[24px] mb-6">Выпуски</h3>
    <div class="overflow-x-auto min-w-[600px]">
      <div class="grid grid-cols-3 gap-4 mb-4">
        <span class="font-bold text-md">Эмитент</span>
        <span class="font-bold text-md text-center">Кол-во выпусков</span>
        <span class="font-bold text-md text-right">Объём участия, ₽</span>
      </div>
      <div class="grid grid-cols-3 gap-4 border-b-2 border-b-light-grey p-2">
        <span class="text-md">Агрофирма Рубеж</span>
        <span class="text-md text-center">1</span>
        <span class="text-md text-right">700 000 000</span>
      </div>
      <div class="grid grid-cols-3 gap-4 border-b-2 border-b-light-grey p-2">
        <span class="text-md">Урожай</span>
        <span class="text-md text-center">3</span>
        <span class="text-md text-right">300 000 000</span>
      </div>
    </div>
  </div>
</bb-wrapper>
