<bb-wrapper>
  <div class="max-w-[870px]">
    <bb-breadcrumbs [items]="items" />
    <bb-page-title title="Что такое народные облигации: самый подробный гайд" />
    <p
      class="text-[18px] text-subtitle-grey leading-relaxing font-semibold my-10"
    >
      Народные облигации — что это, в чем их преимущества, чем отличаются от
      биржевых облигаций, как считаются доход и налоги по облигациям. 
    </p>
    <div class="relative min-h-[324px] mb-12">
      <img
        ngSrc="assets/images/img/dummy/dummy2.jpg"
        fill
        class="object-cover"
        alt="article image"
      />
    </div>

    <h3 class="text-[30px] font-semibold">Содержание статьи</h3>
    <div class="flex flex-col gap-6 mt-10 mb-16">
      <p
        bbScrollAnchor="1"
        class="text-[16px] text-blue cursor-pointer underline font-semibold"
      >
        Что такое облигации
      </p>
      <p
        bbScrollAnchor="2"
        class="text-[16px] text-blue cursor-pointer underline font-semibold"
      >
        Какие бывают облигации и чем они отличаются
      </p>
      <p
        bbScrollAnchor="3"
        class="text-[16px] text-blue cursor-pointer underline font-semibold"
      >
        В чем особенность народных облигаций на Финуслугах
      </p>
      <p
        bbScrollAnchor="4"
        class="text-[16px] text-blue cursor-pointer underline font-semibold"
      >
        Как рассчитывается доход и удерживается налог по народным облигациям
      </p>
    </div>
    <section bbScrollSection="1">
      <h3 class="text-[30px] font-semibold mb-9">Что такое облигации</h3>
      <p class="leading-relaxing mb-16">
        Народные облигации — это инструмент накоплений, который подходит даже
        новичкам. Условия похожи на накопительный счет, проценты начисляются
        ежедневно, а выпускают их надежные эмитенты. Рассказываем, как работают
        народные облигации, чем они отличаются от биржевых, как оценить доход по
        бумагам и начать вкладывать деньги в новый инструмент.
      </p>
    </section>
    <section bbScrollSection="2">
      <h3 class="text-[30px] font-semibold mb-9">
        Какие бывают облигации и чем они отличаются
      </h3>
      <p class="leading-relaxing mb-16">
        Биржевые облигации. Это ценные бумаги, которые торгуются на бирже. Цена
        на них постоянно меняется, так как зависит от ситуации на рынке и может
        как расти, так и снижаться. Инвесторы гарантированно получают только
        купонный доход, но могут потерять часть вложенных средств из-за
        колебаний цен на бумаги, если продадут облигации до даты погашения.
        Покупать биржевые облигации могут как физические, так и юридические
        лица, но для этого нужно иметь брокерский счет. Народные облигации на
        Финуслугах. Несмотря на то, что в названии тут есть слово «облигации»,
        эти бумаги отличаются от своих рыночных аналогов. Эмитенты продают их
        напрямую, народные облигации не торгуются на бирже, а значит, их
        стоимость не меняется в зависимости от ситуации на рынке. Поэтому
        вернуть все вложенные средства можно в любой момент без потери
        процентов. Такие бумаги могут покупать только физические лица. Сделать
        это можно на Финуслугах за пару кликов — брокерский счет для этого не
        нужен.
      </p>
    </section>
    <section bbScrollSection="3">
      <h3 class="text-[30px] font-semibold mb-9">
        В чем особенность народных облигаций на Финуслугах
      </h3>
      <p class="leading-relaxing mb-16">
        Народные облигации появились на Финуслугах в 2021 году как новый
        инструмент сбережений, доступный каждому россиянину. Все выпуски
        народных облигаций Калининградской области и Москвы уже распроданы. Но
        скоро появятся новые выпуски. Подпишитесь на наш Telegram-канал, чтобы
        не пропустить их появление. Вы можете зарегистрироваться на платформе
        через Госуслуги уже сейчас, чтобы первыми получить уведомление о новых
        эмитентах и выпусках облигаций. Преимущества инвестирования в народные
        облигации на Финуслугах: Легко купить. Для этого достаточно
        зарегистрироваться на Финуслугах через подтвержденную учетную запись
        Госуслуг; Гарантированная доходность. Продать облигации можно в любой
        момент и получить обратно вложенные средства + накопленный доход; Без
        комиссии. Финуслуги не берут комиссию за покупку, продажу или
        обслуживание счетов; Доступность средств. Продавайте облигации без
        потери накопленного дохода в любой момент и выводите деньги на счет в
        любом банке; Высокая надежность. Эмитенты облигаций — правительства
        регионов; Польза для региона. Ваши средства идут на социальные и
        инфраструктурные проекты регионов.
      </p>
    </section>
    <section bbScrollSection="4">
      <h3 class="text-[30px] font-semibold mb-9">
        Как рассчитывается доход и удерживается налог по народным облигациям
      </h3>
      <p class="leading-relaxing mb-16">
        Представим, что Мария хочет вложить в облигации 100 000 рублей. Условия
        выпуска: Стоимость одной облигации на день покупки 1014,91 рубля (1000
        рублей — цена размещения одной облигации на дату покупки, установленная
        эмитентом как 100% от номинала, и 14,91 рубля — накопленный купонный
        доход (НКД) для одной облигации на дату покупки); Номинальная стоимость
        одной облигации — 1000 рублей; Доходность (купонная ставка) — 7,8%
        годовых; Купонный период (то есть периодичность выплаты доходов в виде
        процентов) — каждые три месяца; Условия как и для всех облигаций на
        Финуслугах — забрать свои деньги можно в любой день без потери
        процентного дохода, т. е. по цене размещения плюс накопленный купонный
        доход на дату продажи (НКД). В первый день купонного периода НКД равен
        0, поэтому облигацию можно приобрести по цене размещения. В нашем
        примере — за 1000 рублей. Каждый день ее стоимость увеличивается на
        ставку купона (накопленные проценты) — в нашем примере на 7,8% годовых.
        В день выплаты купона все владельцы облигаций получают купонный доход —
        сумму, которая накопилась за купонный период (в нашем примере — за три
        месяца, т. е. первая выплата купона будет 19 июля). В дату выплаты
        купонного дохода НКД обнуляется и начинает накапливаться заново.
        Разберемся, как выглядит каждый шаг купли-продажи облигаций: Шаг 1.
        Покупка 30 июня Мария купила на Финуслугах 100 облигаций. Сумма покупки
        составила 101 491 рубль, где: 100 000 — стоимость облигаций за 100 штук;
        1491 рублей — НКД за 100 штук на день покупки 30 июня. Шаг 2. Выплата
        купона Мария продержала свои облигации до купонной выплаты — 19 июля. В
        этот день на кошелек на Финуслугах ей начислили купон за 90 дней в
        размере — 1663 рубля. Вот из чего он состоит: НКД за один купонный
        период — 1911 рублей за 100 штук; Удержанный НДФЛ в размере 13% — 248
        рублей. При выплате купона на Финуслугах налог удерживается и
        перечисляется в бюджет автоматически налоговым агентом — НКО АО НРД
        (Национальный расчетный депозитарий, входит в группу компаний Московской
        биржи). Шаг 3. Продажа 11 августа Мария решила продать половину
        облигаций. С продажи она получила 50 264 рубляна кошелек на Финуслугах.
        Вот из чего состоит сумма сделки: 50 000 — стоимость 50 штук облигаций,
        приобретенных 30 июня; 264 рубля — накопленный НКД в новом купонном
        периоде (с 19 июля по 11 августа). Как рассчитывается налог при продаже
        облигаций? Первым шагом рассчитывается налог с накопленного дохода на
        день исполнения сделки, а вторым — перерасчет налога с учетом ранее
        уплаченного налога за купонную выплату. Шаг 1. Расчет НДФЛ при продаже
        ((264 рубля (НКД за 50 штук на день продажи 11 августа) + 955,5 рубля
        (выплаченный 19 июля купон из расчета за 50 штук)) - 745,5
        рубля (уплаченный 30 июня НКД при покупке из расчета за 50 штук)) * 13%
        = 62 рубля Шаг 2. Перерасчет налога с учетом ранее уплаченного НДФЛ с
        купона Сумма исчисленного НДФЛ будет уменьшена на сумму ранее
        уплаченного налога с купонной выплаты — 124 рубля из расчета за 50 штук.
        Так как в первую купонную выплату сумма уплаченного НДФЛ оказалась
        больше рассчитанного НДФЛ с дохода при продаже, и обе операции
        состоялись в рамках одного года, у Марии возникает НДФЛ к возврату в
        размере 62 рубля, который будет возвращен на ее счет по итогам
        налогового периода на основании ст. 231 НК РФ. Как был рассчитан налог к
        возврату: 62 рубля (рассчитанный НДФЛ при продаже за 50 штук) - 124
        рубля (НДФЛ, уплаченный за первую купонную выплату за 50 штук) = -62
        рубля Обратите внимание, что налог удерживается в бюджет в целых числах
        (например, 61,62 округляется до 62 рублей). Сколько в итоге заработала
        Мария с момента покупки до продажи половины облигаций? Доход Марии по
        облигациям на дату продажи составил 436 рублей, с учетом понесенных
        расходов на НКД при покупке. Как был рассчитан доход: 1663 рубля
         (купонная выплата 19 июля за 100 штук за вычетом НДФЛ) + 264 рубля
        (доход от продажи за 50 штук) - 1491 рубль (НКД за 100 штук, который
        Мария заплатила при покупке) = 436 рублей Излишне уплаченный НДФЛ
        автоматически вернется Марии на кошелек на Финуслугах по итогам
        налогового периода на основании ст. 231 НК РФ в размере 62 рубля, если
        не будет других сделок по продаже облигаций. Обычно возврат налога на
        Финуслугах осуществляется в первые месяцы нового года. Ну и, разумеется,
        у Маши осталось 50 облигаций, по которым продолжают копиться проценты.
      </p>
    </section>
  </div>
</bb-wrapper>
