<bb-wrapper>
  <bb-breadcrumbs [items]="items" />
  <bb-page-title [title]="title" />

  <div class="mt-14 handset:mb-16 mb-[100px] max-w-[870px]">
    <div class="flex handset:flex-col handset:gap-9 gap-10 mb-6">
      <bb-svg-icon name="cifra" />
      <p class="text-md">
        Мы создаем передовые технологические сервисы и продукты, позволяющие нам
        находить инновационные решения во всех сферах недвижимости. Наша миссия
        — изменить повседневность, создав более комфортные, безопасные и
        экологичные условия для жизни. Мы создаем передовые технологические
        сервисы и продукты, позволяющие нам находить инновационные решения во
        всех сферах недвижимости. Наша миссия — изменить повседневность, создав
        более комфортные, безопасные и экологичные условия для жизни. Мы создаем
        передовые технологические сервисы и продукты, позволяющие нам находить
        инновационные решения во всех сферах недвижимости.
      </p>
    </div>
    <p class="text-md">
      Мы создаем передовые технологические сервисы и продукты, позволяющие нам
      находить инновационные решения во всех сферах недвижимости. Наша миссия —
      изменить повседневность, создав более комфортные, безопасные и экологичные
      условия для жизни. Мы создаем передовые технологические сервисы и
      продукты, позволяющие нам находить инновационные решения во всех сферах
      недвижимости. Наша миссия — изменить повседневность, создав более
      комфортные, безопасные и экологичные условия для жизни. Мы создаем
      передовые технологические сервисы и продукты, позволяющие нам находить
      инновационные решения во всех сферах недвижимости.
    </p>
  </div>
</bb-wrapper>
