<bb-wrapper>
  <bb-breadcrumbs [items]="items" />
  <bb-page-title [title]="title" />

  <section
    class="grid handset:grid-cols-1 grid-cols-[3fr_1fr] tablet:gap-[40px] desktop:gap-[80px]"
  >
    <div>
      <div class="mt-9 mb-[67px] flex handset:flex-col flex-row gap-[74px]">
        <bb-svg-icon [name]="projectData().img" />
        <p class="text-md max-w-[80%]">
          {{ projectData().descr }}
        </p>
      </div>

      <div class="mb-16">
        <h2 class="font-semibold text-[24px] mb-6">Облигации</h2>
        <div class="flex flex-col gap-9">
          <div class="bg-light-grey py-4 px-6 border-b-[6px] border-b-blue">
            <h3
              class="text-[20px] font-semibold leading-relaxed text-orange mb-1"
            >
              ИнфоВотч-000А-00
            </h3>
            <p class="text-md mb-6">Купон 0%</p>
            <div class="grid grid-cols-2 font-md gap-y-3">
              <span>MIXES ISIN</span>
              <span>Объём выпуска <span class="font-bold">0 шт.</span></span>
              <span>Номер</span>
              <span>Статус <span class="font-bold">Готовится</span></span>
              <span>Дата начала торгов</span>
              <span>Номинал <span class="font-bold">1 000 ₽</span></span>
            </div>
          </div>
          <div class="bg-light-grey py-4 px-6 border-b-[6px] border-b-blue">
            <h3
              class="text-[20px] font-semibold leading-relaxed text-orange mb-1"
            >
              ИнфоВотч-000А-00
            </h3>
            <p class="text-md mb-6">Купон 0%</p>
            <div class="grid grid-cols-2 font-md gap-y-3">
              <span>MIXES ISIN</span>
              <span>Объём выпуска <span class="font-bold">0 шт.</span></span>
              <span>Номер</span>
              <span>Статус <span class="font-bold">Готовится</span></span>
              <span>Дата начала торгов</span>
              <span>Номинал <span class="font-bold">1 000 ₽</span></span>
            </div>
          </div>
        </div>
      </div>

      <div class="relative h-[409px] w-full mb-9">
        <img ngSrc="assets/images/img/dummy/chart.png" fill class="object-cover" alt="success"/>
      </div>

      <div class="bg-white p-9 mb-9">
        <h3 class="font-semibold text-[24px] mb-6">Контакты</h3>
        <div class="pl-10">
          <div class="mb-8 text-md">
            <p>{{ contacts.address }}</p>
          </div>
          <div class="flex handset:flex-col flex-row gap-10 text-blue text-md">
            <p>{{ contacts.phone }}</p>
            <p>{{ contacts.email }}</p>
            <p>{{ contacts.www }}</p>
          </div>
        </div>
      </div>

      <div class="bg-light-grey py-9 px-2 mb-10">
        <div class="px-7">
          <h3 class="font-semibold text-[24px] mb-3">Дерево сообытий</h3>
        </div>
        <div
          class="border-b border-b-white border-0.5 px-7 py-5 text-md grid grid-cols-[160px,1fr]"
        >
          <span>07.09.2024</span>
          <span>Дело №А40-14917/2024 , сумма 130 832 672,31</span>
        </div>
        <div
          class="border-b border-b-white border-0.5 px-7 py-5 text-md grid grid-cols-[160px,1fr]"
        >
          <span>07.09.2024</span>
          <span>Дело №А40-14917/2024 , сумма 130 832 672,31</span>
        </div>
        <div
          class="border-b border-b-white border-0.5 px-7 py-5 text-md grid grid-cols-[160px,1fr]"
        >
          <span>07.09.2024</span>
          <span>Дело №А40-14917/2024 , сумма 130 832 672,31</span>
        </div>
      </div>
    </div>

    <ul class="flex flex-col gap-10 handset:hidden mt-10">
      @for (asideItem of asideMenuItems; track asideItem.id) {
        <li>
          <a
            routerLink="{{ asideItem.link }}"
            routerLinkActive="active-link"
            class="text-md font-semibold hover:text-orange"
            >{{ asideItem.caption }}</a
          >
        </li>
      }
    </ul>
  </section>
</bb-wrapper>
