<bb-main-section [title]="title">
  <div class="flex flex-col gap-3">
    <div
      class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-[2fr_1fr_1fr] gap-3"
    >
      @for (project of projects().slice(0, 3); track project.id) {
        <ng-container
          *ngTemplateOutlet="
            projectFileCard;
            context: {
              $implicit: project.title,
              img: project.img,
              content: project.content,
              tag: project.tag,
            }
          "
        />
      }
    </div>
    <div
      class="grid grid-cols-1 tablet:grid-cols-3 desktop:grid-cols-[1fr_1fr_2fr] gap-3"
    >
      @for (project of projects().slice(3, 6); track project.id) {
        <ng-container
          *ngTemplateOutlet="
            projectFileCard;
            context: {
              $implicit: project.title,
              img: project.img,
              content: project.content,
              tag: project.tag,
            }
          "
        />
      }
    </div>
  </div>
</bb-main-section>

<<ng-template
  #projectFileCard
  let-title
  let-img="img"
  let-content="content"
  let-tag="tag"
>
  <div class="h-[198px] relative">
    <img [ngSrc]="img" class="object-cover" fill alt="project" />
    <div class="absolute inset-0 py-5 px-9 flex flex-col">
      <h5 class="text-white text-[23px] font-semibold mb-5">{{ title }}</h5>
      <p class="text-white font-[13px] leading-tight">{{ content }}</p>
      <p class="text-orange font-semibold text-[11px] mt-auto">{{ tag }}</p>
    </div>
  </div>
</ng-template>
