<bb-wrapper>
  <bb-breadcrumbs [items]="items" />
  <bb-page-title title="Публикации" />

  <div class="flex flex-col tablet:flex-row desktop:flex-row gap-10">
    <div class="tablet:w-2/3 desktop:w-2/3 flex flex-col">
      <div
        class="flex flex-col tablet:flex-row desktop:flex-row flex-wrap gap-3 my-8"
      >
        @for (btn of publicationsBtns(); track btn.id) {
          <bb-plain-button
            [label]="btn.label"
            className="{{
              btn.isActive
                ? 'bg-orange text-white hover:bg-active-orange border-orange hover:border-active-orange'
                : 'text-orange bg-transparent hover:border-orange'
            }}  border border-grey-strok"
            (click)="handleSortBtn(btn.id)"
          />
        }
      </div>

      <bb-search-input placeholder="Поиск публикаций" class="mb-16" />
      <div class="mb-16 flex flex-col gap-6">
        @for (item of resultsList(); track item.id) {
          <ng-container
            *ngTemplateOutlet="
              searchResultCard;
              context: {
                $implicit: item.title,
                date: item.date,
                section: item.section,
                content: item.content,
                img: item.img,
              }
            "
          />
        }
      </div>
    </div>
    <div class="tablet:w-1/3 desktop:w-1/3">
      <h3 class="text-[28px] font-semibold mb-4">Главные новости</h3>
      <div class="flex items-center mb-5">
        <span class="h-1.5 bg-orange w-2/3"></span>
        <span class="h-1.5 bg-blue w-1/3"></span>
      </div>
      <div class="mb-16">
        @for (news of newsList(); track news.id) {
          <ng-container
            *ngTemplateOutlet="
              mainNewsCard;
              context: {
                $implicit: news.title,
                date: news.date,
                section: news.section,
              }
            "
          />
        }
      </div>
      <bb-subscription-form />
    </div>
  </div>
</bb-wrapper>

<ng-template #mainNewsCard let-title let-date="date" let-section="section">
  <div class="border-t border-t-light-grey flex flex-col py-9">
    <span class="text-sm text-grey-indicator mb-3">{{ date }}</span>
    <h4 class="font-semibold mb-7 text-[23px] leading-tight">{{ title }}</h4>
    <span class="text-sm text-orange">{{ section }}</span>
  </div>
</ng-template>

<ng-template
  #searchResultCard
  let-title
  let-date="date"
  let-section="section"
  let-content="content"
  let-img="img"
>
  <div class="bg-white flex flex-col pb-10">
    <div class="h-[239px] w-full relative mb-4">
      <img
        [ngSrc]="img"
        alt="search result"
        class="object-cover"
        fill
        priority
      />
    </div>
    <div class="flex items-center gap-5 mb-4">
      <span
        class="grid place-items-center w-[108px] h-[34px] bg-orange text-bkgrnd"
        >{{ date }}</span
      >
      <span class="text-orange text-md">{{ section }}</span>
    </div>
    <h4 class="font-semibold text-[23px] leading-tight mb-5">{{ title }}</h4>
    <p class="text-md leading-normal">{{ content }}</p>
  </div>
</ng-template>
