<section
  class="bg-dark-blue handset:h-[600px] h-[338px] flex handset:flex-col flex-row relative"
>
  <div
    class="w-full tablet:w-1/2 desktop:w-1/2 h-[259px] tablet:h-full desktop:h-full absolute"
  >
    <img
      ngSrc="assets/images/img/dummy/dummy5.jpg"
      alt="intro"
      class="object-cover"
      fill
      priority
    />
  </div>
  <bb-wrapper>
    <div class="py-10 flex handset:flex-col z-1 relative h-full">
      <div class="w-1/2 flex flex-col h-full justify-between">
        <h1
          class="font-semibold text-white handset:mb-[50px] tablet:text-[34px] text-[50px] leading-none relative before:absolute before:h-[90px] before:w-1.5 before:bg-orange before:-left-5 before:top-2 ml-5"
        >
          Истории <br />
          успеха
        </h1>
        <div class="flex gap-5">
          <button (click)="swipePrev()" class="outline-none">
            <bb-svg-icon name="slide-prev" />
          </button>
          <button (click)="swipeNext()" class="outline-none">
            <bb-svg-icon name="slide-next" />
          </button>
          <bb-plain-button
            label="Все"
            class="bg-orange text-white self-start rounded-[9px] hover:bg-active-orange"
            (click)="handleMoreSuccessesClick()"
          />
        </div>
      </div>
      <div
        class="w-1/2 flex flex-col justify-between h-full handset:mt-[60px] py-5"
      >
        <swiper-container #swiperContainer>
          @for (slide of slides(); track slide.id) {
            <swiper-slide>
              <div class="max-w-[500px]">
                <h1
                  class="font-semibold text-white text-[34px] desktop:text-[39px] leading-none ml-[100px]"
                >
                  {{ slide.title }}
                </h1>
                <div class="bg-orange h-1.5 w-[180px] mt-5 mb-6"></div>
                <p class="text-white ml-[100px] mb-7">
                  {{ slide.descr }}
                </p>
                <button
                  class="flex gap-3 ml-[100px] border border-blue rounded-[9px] py-2 px-6"
                  (click)="navigateTo(slide.link)"
                >
                  <span class="text-white">Читать</span>
                  <bb-svg-icon name="right-arrow" />
                </button>
              </div>
            </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </bb-wrapper>
</section>
